.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sneaker-main-card {
  width: auto;
  height: auto;
  display:flex;
  align-items:space-between;
  justify-content:space-between;
  flex-wrap:wrap;
  position: relative;
  
}

.sneaker-img {
    display: block;
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;

}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.text-style{
  color: #111;
  font-size: 275px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

